.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-expansion-panel {
  width: 90vw;
}

@media (min-width: 500px) {
  .mat-expansion-panel {
    width: 95vw;
  }
}

@media (min-width: 760px) {
  .mat-expansion-panel {
    width: 97vw;
  }
}
