<div class="orders">
  <h2>Orders:</h2>
  <div class="button-container">
    <div class="customer-view" *ngIf="!summaryView">
      <button mat-flat-button color="accent" class="regular-button" (click)="displaySummary()">Summary</button>
      <mat-form-field appearance="fill">
        <mat-label>Choose Customer</mat-label>
        <mat-select (valueChange)="selectCustomer($event)">
          <mat-option>*All Customers*</mat-option>
          <mat-option *ngFor="let customer of customers" [value]="customer">
            {{customer.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="summary-view" *ngIf="summaryView">
      <button mat-flat-button color="primary" class="regular-button" (click)="displayCustomerView()">Show Customers</button>
    </div>
  </div>
</div>
<app-order-list
  [orders]="orders"
  [selectedCustomer]="selectedCustomer"
  [selectedCustomerOrders]="selectedCustomerOrders"
  [summaryView]="summaryView">
</app-order-list>
