<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Customer: {{order.userDTO.name}}
      </mat-panel-title>
      <mat-panel-description>
        Order number: {{order.orderNumber}}
      </mat-panel-description>
    </mat-expansion-panel-header>
      <mat-panel-description>
        Date: {{order.orderDate | date}}, Ordered items: {{order.orderItems.length}}
      </mat-panel-description>
      <mat-panel-description>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let item of items" class="order-details-item">
            {{item.icecreamType.flavour}}: {{item.unit.name}} ({{item.unit.weightInGrams}} g.)
          </mat-list-item>
        </mat-list>
      </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>

