<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Customer: {{order.userDTO.name}}
      </mat-panel-title>
      <mat-panel-description>
        Order number: {{order.orderId}}
      </mat-panel-description>
    </mat-expansion-panel-header>
      <mat-panel-description>
        Date: {{order.orderDate | date}}
      </mat-panel-description>
      <p>
        {{order.orderItem.icecreamType.flavour}}: {{order.orderItem.unit.name}} ({{order.orderItem.unit.weightInGrams}} g.) - quantity: {{order.orderItem.quantity}}
      </p>
  </mat-expansion-panel>
</mat-accordion>

