<mat-list role="list" *ngIf="selectedCustomerOrders">
  <mat-list-item role="listitem" *ngFor="let order of selectedCustomerOrders" class="order-details-item">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Order number: {{order.orderNumber}}
          </mat-panel-title>
          <mat-panel-description>
            order date: {{order.orderDate | date}}
          </mat-panel-description>
        </mat-expansion-panel-header>
          {{order.orderItem.icecreamType.flavour}}: {{order.orderItem.unit.name}} ({{order.orderItem.unit.weightInGrams}}) - quantity: {{order.orderItem.quantity}}
      </mat-expansion-panel>
    </mat-accordion>
  </mat-list-item>
</mat-list>
