<div class="login-container">
  <div class="login-info">
    <mat-card class="login-card">
      <mat-card-content>
        <h1>
          Placeholder for login :)
        </h1>
        <h3>
          Please choose user type:
        </h3>
      </mat-card-content>
      <mat-card-actions class="login-actions">
        <button mat-button [routerLink]="'/customer'" class="login-btn">Customer</button>
        <button mat-button [routerLink]="'/owner'" class="login-btn">Owner</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
